<div class="col-xs-12">
  <h2>Listing sample</h2>

  <ul class="list-group">
      
    <!--atention pour un string litéral "'maChaine'"
    pour un nom de variable "maVariable"-->
 <!--   <p>dernière mis à jour {{ lastUpdate | async | date :short }}</p> -->
   <app-one-file *ngFor = "let sample of telomeres; let i = index"
   
    [originalname] ="sample.originalname" 
     [index] = "i" 
      [id] = "sample.id" 

      ></app-one-file>  
  </ul>
  <button (click)="download()" >Clique</button>
</div>