<div class="col-xs-12">
    <h2>Listing population</h2>
    <ul class="list-group">
        
      <!--atention pour un string litéral "'maChaine'"
      pour un nom de variable "maVariable"-->
      <p>dernière mis à jour {{ lastUpdate | async | date :short }}</p>
     <app-appareil *ngFor = "let appareil of appareils; let i = index"
     
      [appareilName] ="appareil.name" 
      [appareilStatus] ="appareil.status"
       [index] = "i" 
        [id] = "appareil.id" 

        ></app-appareil>
    
     
    </ul>
    <button class = "btn btn-success" [disabled] = "isAuth" 
    (click) = "onAllume()">Tout activer</button>
    <button class ="btn btn-danger" [disabled] = "isAuth" 
    (click) = "onEteind()" >Tout désactiver</button>
    <button class="btn btn-primary"

        (click)="onSave()">Enregistrer les status</button>
        <button class="btn btn-primary"

        (click)="onFetch()">Récupérer les status</button>

  </div>